* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quintessential", cursive;
  background: white;
  overflow-x: hidden;
  position: relative;
}

main {
  position: absolute;
}

.cubscout-logo {
  height: 20vh;
  cursor: pointer;
}

#logo {
  height: 10vh;
  cursor: pointer;
}

.typewriter h1 {
  overflow: hidden;
  /* border-right: 0.15rem solid black; */
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.05rem;
  animation: typing 3.5s steps(40, end);
  /* blink-caret 0.75s step-end infinite; */
}

@keyframes typing {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
/* 
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
} */

.header-class {
  min-height: 10vh;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  width: 80%;
  margin: auto;
  padding: 2rem 0rem;
  z-index: 2;
  position: relative;
}

.line-one,
.line-two {
  width: 3rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: black;
  pointer-events: none;
}

h1 {
  text-align: center;
  font-size: 2rem;
  padding: 1rem;
  background: rgb(235, 224, 23);
}

.about-section,
.activities-section,
.service-section,
.organization-section {
  min-height: 100vh;
  margin: 0 auto 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  background: white;
}

.escape-desc,
.why {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-basis: 25rem;
  padding-left: 2rem;
  position: relative;
}

.escape-img {
  position: relative;
  flex: 1;
  flex-basis: 25rem;
  overflow: hidden;
}

.escape-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.escape-desc h2 {
  font-size: 2.5rem;
}

.escape-desc p {
  padding: 3rem 0rem;
  font-size: 1.5rem;
  color: black;
}

.learn-more-escape-one,
.learn-more-escape-two,
.learn-more-escape-three,
.learn-more-escape-four {
  padding: 1rem 2rem;
  background: none;
  border: none;
  color: black;
  border: 1px solid black;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
}

.learn-more-escape-one:hover,
.learn-more-escape-two:hover,
.learn-more-escape-three:hover,
.learn-more-escape-four:hover {
  background: rgb(235, 224, 23);
}

.menu-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(235, 224, 23);
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
  opacity: 1;
  clip-path: circle(50px at 100% -10%);
  -webkit-clip-path: circle(50px at 100% -10%);
}

.burger {
  cursor: pointer;
}

.menu-links {
  font-size: 2rem;
  flex-basis: 30rem;
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
}

.menu-links a,
a {
  text-decoration: none;
}

.contact {
  flex-basis: 30rem;
  margin-top: 10rem;
}

.contact h2 {
  font-size: 5rem;
}

.contact p {
  font-size: 2.5rem;
  line-height: 1.25;
  margin-top: 1rem;
}

footer {
  padding: 1rem;
  text-align: center;
}

/* Why Page */
.why {
  margin: 1rem 15rem;
}

.why p {
  margin-top: 1rem;
}

.why h3 {
  text-indent: 5rem;
  margin-top: 3rem;
}

@media screen and (max-width: 1260px) {
  main {
    width: 100%;
    margin: 0;
  }

  .about-section,
  .activities-section,
  .service-section,
  .organization-section {
    display: block;
    width: 100%;
    text-align: center;
  }

  .escape-desc {
    padding: 0;
  }

  .escape-img {
    padding-top: 4rem;
  }

  .escape-desc h2 {
    font-size: 1.25rem;
    padding: 1rem 0rem;
  }

  .escape-desc p {
    font-size: 0.75rem;
    padding: 2rem 1rem;
    line-height: 1.5rem;
    text-align: center;
  }

  .learn-more-escape-one,
  .learn-more-escape-two,
  .learn-more-escape-three,
  .learn-more-escape-four {
    width: 60%;
    margin: auto;
  }

  .menu-bar {
    display: block;
  }

  .menu-links {
    font-size: 1rem;
    text-align: center;
  }

  .contact {
    margin-top: 2.5rem;
  }

  .contact h2 {
    font-size: 2rem;
    text-align: center;
  }

  .contact p {
    font-size: 1.25rem;
    padding: 1rem;
    text-align: center;
  }

  .cubscout-logo {
    width: 60%;
    object-fit: contain;
  }

  h1 {
    font-size: 70%;
    text-align: center;
  }

  .why {
    margin: auto;
    margin-top: 1rem;
  }
}
